footer {
    margin: 0;
    margin-top: 12.5vh;

      background: rgba(24, 24, 36,0.7);
      padding-block: 2rem;

}

.footer-content {
    margin-inline: 27.5px;
}

footer img {
      width: 135px;
}


footer div {
    display: flex;
    flex-direction: column;
}

footer div h2{
    text-decoration: none;
    font-weight: bold;
        color: #8100fe;
}

footer div a{

    color: rgba(255, 255, 255, 0.8);
    margin-top: 1vh;
}

.copy {
    margin-top: 5vh;
        color: #8100fe;
}
.copy p {
    display: flex;
    justify-content: space-between;
    align-items: center;
        color: #8100fe;
}

.copy i {
    font-size: 2rem;
    color: #8100fe;
}

@media screen and (min-width: 800px) {
  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer-items {
    display: flex;
    flex-direction: row;
    gap: 10rem;
  }
  .inner-content {
    width: 40vw;
  }
}
